body {
	font: small 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: #58ae5c;
}

h1 {
   line-height: 400px;
   height: 220px;
   text-align: center;
}

p#help {
   text-align: center;
	line-height: 15px;
   height: 10px;
}

p#pop_up_line {
	text-align: center;
}

h4#pop_up_title {
	text-align: center;
}

div#pop_up {
   background-color: lightgray;
	position: fixed;
   width: 330px;
	padding: 10px;
   margin-left: auto;
   margin-right: auto;
   display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1000; /* Ensure it's on top */
}

button#close_pop_up {
	display: block;
	margin-left: auto;
   margin-right: auto;
	cursor: pointer;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	border: none;
	background-color: #58ae5c;	
}

form#search_re {
	line-height: 60px;
	height: 110px;
	text-align: center;
}

input[type=search] {
   width: 250px;
}

select#search_types {
	border: none;
	cursor: pointer;
	padding: 4px;
	background-color: lightgray;
}

input[type=submit] {
	display: block;
	margin-left: auto;
   margin-right: auto;
	cursor: pointer;
	padding: 10px 20px;
	text-decoration: none;
	border: none;
	background-color: lightgray;		
}

section#search_results {
	display: none;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin-bottom: 50px;
	margin-left: auto;
   margin-right: auto;
}

#header {
	font-weight: bold;
	background-color: #b0248d;
}

table td {
	border: 1px solid rgb(200,200,200);
	padding: 2px 10px;
}

tr:nth-child(even) {
   background-color: white;
}

tr:nth-child(odd) {
   background-color: lightgray;
}
